<html>
  <head>
    <meta name="decorator" content="atl.general">
    <title>Print cards for your scrum/kanban board</title>
    <style>
      table.issues {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border: 1 solid #000;
      }
    </style>
  </head>
  <body>
    #if( $errorMessageHtml )
      <div>
	$errorMessageHtml
      </div>
    #end
    <div style="width: 100%; text-align: center;">
      <form method="GET">
	<label>JQL: <input type="text" name="jqlQuery" id="jqlQuery" /></label>
      </form>
    </div>
    <br />
      <table class="issues">
	<tr>
	  <td>Key</td>
	  <td>Summary</td>
	  <td>Story Points</td>
	  <td>Subtasks</td>
	</tr>
	#if( $issues )
	    #foreach( $issue in $issues )
	    <tr>
	      <td>$issue.key</td>
	      <td>$issue.summary</td>
	      <td>$issue.storyPoints</td>
	      <td>$issue.subtasks</td>
	    </tr>
	    #end
	  <tr>
	    <td colspan="4">
	      <a href="$baseUrl/plugins/servlet/yakuza/cardsprintpreview?jqlQuery=$jqlQuery">Print</a>
	    </td>
	  </tr>	
	#else
	  <tr>
	    <td colspan="4">
	      No issues found.
	    </td>
	  </tr>
	#end
	
      </table>
  </body>
</html>