<html>
  <head>
    <meta name="decorator" content="atl.general">
    <title>Print cards for your scrum/kanban board</title>
  </head>
  <body>
    #if( $errorMessage )
      <div>
	$errorMessage
      </div>
    #end
    <div style="width: 100%; text-align: center;">
      <form method="GET">
	<label>JQL: <input type="text" name="jqlQuery" id="jqlQuery" /></label>
      </form>
    </div>
    <br />
    <div style="width: 60%; text-align: center;">
      <table>
	<tr>
	  <td>Key</td>
	  <td>Summary</td>
	  <td>Story Points</td>
	  <td>Subtasks</td>
	</tr>
	#if( $issues )
	    #foreach( $issue in $issues )
	    <tr>
	      <td>$issue.key</td>
	      <td>$issue.summary</td>
	      <td>$issue.storyPoints</td>
	      <td>$issue.subtasks</td>
	    </tr>
	    #end
	  <tr>
	    <td colspan="4">
	      <a href="$baseurl/plugins/servlet/ganymede/cardsprintpreview?jqlQuery=$jqlQuery">Print</a>
	    </td>
	  </tr>	
	#else
	  <tr>
	    <td colspan="4">
	      No issues found.
	    </td>
	  </tr>
	#end
	
      </table>
    </div>
  </body>
</html>